<h1>Pirate:</h1>
<p><%= @pirate.name %></p>
<ul>
  <li>Weight: <%= @pirate.weight %></li>
  <li>Height: <%= @pirate.height %></li>
</ul>

<h2>First Ship:</h2>
<p><%= @pirate.ships[0].name %></p>
<ul>
  <li>Type: <%= @pirate.ships[0].ship_type %></li>
  <li>Booty: <%= @pirate.ships[0].booty %></li>
</ul>

<h2>Second Ship:</h2>
<p><%= @pirate.ships[1].name %></p>
<ul>
  <li>Type: <%= @pirate.ships[1].ship_type %></li>
  <li>Booty: <%= @pirate.ships[1].booty %></li>
</ul>
