<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirates:</title>
  </head>
  <body>

    <h1><%= @pirate["name"] %></h1>
    <%= @pirate["weight"] %>
    <%= @pirate["height"] %>

    <h2><%= @ships[0]["name"] %></h2>
    <%= @ships[0]["type"] %>
    <%= @ships[0]["booty"] %>

    <h2><%= @ships[1]["name"] %></h2>
    <%= @ships[1]["type"] %>
    <%= @ships[1]["booty"] %>

  </body>
</html>
